/**
*  estilos custom
*/

/* --- fuentas ----*/
@import url("font/fonts.css");

html { font-size: 62.5%; } 

body {
    font-family: 'robotoregular';
    font-size: 1.6rem;
    font-weight:  normal;
    background: #d7d7d7;
}

h1 {
    margin: 0;
}

.texto-rojo {
    color: #c60a20;
}

/* -------------------- Page ------------------------ */

.separador-rojo {
    border-top: 4px solid #df2a0d;
    position: relative;
    padding-top: 40px;
}

.separador-rojo::after {
    content: url("../images/arrow-red.jpg");
    left: 46px;
    position: absolute;
    top: -4px;
}

.header-main {
    margin-top: 36px;
}

header h1 {
    color: #dd2c0f;
    font-size: 2.0rem !important;
    font-weight: bold !important;
    padding-bottom: 20px;
}

.content-area, .content-sidebar {
    padding-top: 0;
}

.site-main .main-content .site-content {
    width: 600px;
    float: left;
}

.site-main .main-content .site-content .entry-content,
.site-main .main-content .site-content .entry-header {
    padding: 0 20px;
    width: 600px;
    max-width: inherit;
    box-sizing: border-box;
    float: left;
}

.site-main .main-content .site-content .entry-content p {
    padding-bottom: 10px;
}

.site-main .main-content .content-area aside {
    float: right;
    width: 300px;
}



/* -------------------- CLEAR ------------------------ */

.clearfix:after,
#menu-servicios-destacados::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

p {
    margin: 0;
    line-height: normal;
}

#page {
    width: 928px;
    margin: 0 auto;
    background: #fff;
    padding: 0 10px;
    box-sizing: border-box;
}

.site-content, .site-main .widecolumn {
    margin: 0;
}

/*------ HEADER ------*/

.site-header {
    background: none;
}

.controlh {
    background: #ccc;
}

.header-logo {
    background: url("../images/logo.png") 0 0 no-repeat;
    display: block;
    width: 293px;
    height: 52px;
    float: left;
    margin: 32px 0 20px 0; 
}

/*------------- Menu principal -------------*/

::selection {
    background-color: transparent;
    color: #dd2c0f;
    text-shadow: none;
}

::-moz-selection {
    background-color: transparent;
    color: #dd2c0f;
    text-shadow: none;
}

#primary-menu li:last-child a {
    padding-right: 0; 
}

.primary-navigation li:hover > a, .primary-navigation li.focus > a {
    background-color: transparent;
    color: #dd2c0f;
}

.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a, 
.site-navigation .current-menu-item > a, 
.site-navigation .current-menu-ancestor > a {
    color: #dd2c0f;
    font-size: 1.6rem;
    font-weight:  normal;
    background: url("../images/arrow-menu.jpg") no-repeat center bottom 4px;
}

.site-navigation a {
    text-transform: none;
}

.primary-navigation a {
    color: #475055;
    font-size: 1.6rem;

}

.arrow {
    position: relative;
    background: #fff;
    border: 2px solid #dd2c0f;
}
.arrow:after, .arrow:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 20px 20px 20px 20px;
    margin-left: -20px;
}
.arrow:before {
    border-color: rgba(221, 44, 15, 0);
    border-top-color: #dd2c0f;
    border-width: 23px 23px 23px 23px;
    margin-left: -23px;
}


/*------------- Menu redes -------------*/

.menu-redes {
    list-style: none;
    float: right;
    margin: 0;
}

.menu-redes li {
    display: inline-block;
    background: url("../images/ic-redes.png") 0 0 no-repeat;
    width: 28px;
    height: 32px;
}

.menu-redes li a {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; 
}

.menu-redes li.linkedin {
}

.menu-redes li.contacto {
    background-position: 0 -32px; 
}

.menu-redes li.facebook {
    background-position: 0 -64px; 
}


/*------------- HOME -------------*/

.home .main-content .content-area {
    padding-bottom: 20px;
}

.home .site-content {
    float: left;
    width: 600px;
}

.home .content-area {
    padding-top: 20px;
}

.home aside {
    float: right;
    width: 300px;
}

.home article.content-home p {
    color: #282828;
}

#nav_menu-5 {
    margin-top: 30px;
    margin-bottom: 0;
}

#nav_menu-5 .widgettitle {
    color: #fff;
    position: absolute;
    left: 10px;
}

.menu-servicios-destacados-container ul {
    background: url('../images/bg-servicios-desta.jpg') no-repeat;
    padding-top: 58px;
    height: 208px; 
}

.menu-servicios-destacados-container ul li {
    width: 150px;
    float: left;
    border-top: none;
    /*border-left: 1px solid #b3b2b2;*/
}

.menu-servicios-destacados-container ul li img {
    display: block;
    width: 85px;
    margin: 0 auto;
}

.menu-servicios-destacados-container ul li a {
    width: 100%;
}

.menu-servicios-destacados-container ul li a:hover {
    color: #fff;
}

.menu-servicios-destacados-container ul li a span {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: block;
}

iframe {
    margin: 0;
}


/*------------- DEMO -----------------*/

.wpcf7-form-control-wrap {
    float: right;
    margin-bottom: 10px;
    width: 47%;
}

.wpcf7-form-control-wrap:nth-child(odd) {
    float: left;
}

.wpcf7-form-control-wrap.como {
    float: none;
}

.wpcf7-form-control-wrap.telefono input {
    width: 100%;
}

.btn-red,
input[type="submit"].solicitud-demo {
    background-color: #df2a0d;
    border-radius: 4px;
    margin-top: 10px;
    color: #fff;
}

#wpcf7-f28-p25-o1 {
    background: #999;
    padding: 15px;
}

.textarea-como {
    height: 100px;
}

/*------------- INSTALADORES -------------*/

.instaladores .separador-rojo h1.texto-rojo {
    margin-top: 40px;
    margin-bottom: 4px;
}

.instaladores .title-noticias {
    font-size: 1.8rem;
    font-family: 'robotomedium';
    margin-bottom: 20px; 
}

.subtitulo {
    background: #f1f1f1;
    padding: 20px;
}

.subtitulo .texto {
    float: left;
    width: 380px;
}

.subtitulo .btn-red {
    padding: 10px;
    display: inline-block;
    float: right;
    text-align: center;
    text-decoration: none;
    font-family: 'robotomedium';
    font-size: 1.2rem;
    text-transform: uppercase;
}

.subtitulo .btn-red strong {
    display: block;
    font-size: 2.4rem;
}

/*---------- SLIDER -----------*/

#slider-news,
#video-slider {
    height: 375px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
    background: #f1f1f1;
}
#video-slider {
    width: 483px;
    padding: 0;
    margin: 0 auto;
}

#slider-news {
    height: 252px;
    padding-top: 20px;
}

.video-container {
    position: relative;
    background: #f1f1f1;
    padding-top: 20px;
}

#slider-news .slider-content,
#video-slider .sliderVideo-content {
    width: 10000px;
    position: absolute;
}

#slider-news .slider,
#video-slider .slider {
    display: inline-block;
    width: 577px;
    /*margin-right: 54px; */
}

#video-slider .slider {
    width: 483px;
    margin-right: 0;
}

#slider-news .nav-slider,
.video-container .nav-video {
    position: relative;
    top: 0;
}

.video-container .nav-video {
    position: absolute;
    width: 100%;
}

#slider-news .nav-slider .nextn,
.video-container .nav-video .next,
#slider-news .nav-slider .prevn,
.video-container .nav-video .prev {
    height: 22px;
    width: 22px;
    position: absolute;
    right: 10px;
    top: 165px;
    z-index: 101;
    background: url("../images/slider-arraw.png") no-repeat;
}

#slider-news .nav-slider .nextn,
#slider-news .nav-slider .prevn {
    cursor: pointer;
    top: 112px;    
}

#slider-news .nav-slider .prevn,
.video-container .nav-video .prev {
    left: -10px;
    right: inherit;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.video-container .nav-video .next {
    right: 18px;
}

.video-container .nav-video .prev {
    left: 18px;
}

.instaladores .entry-thumbnail {
    float: left;
    margin-right: 20px; 
}

.instaladores .news {
    width: 260px;
    float: left;
}
.instaladores .news h2 {
    margin: 0 0 15px 0;
    padding: 0;
}

.instaladores .news p {
    font-size: 1.2rem;
    font-family: 'robotolight';
}

.instaladores .news a {
    color: #c60a20;
    font-size: 1.5rem;
}

.instaladores .news .resumen p {
    font-family: 'robotoregular';
}

.instaladores .content-news {
    margin-bottom: 20px;
    padding-left: 20px;
}

.instaladores .content-news .contenido {
    padding-left: 20px;
}

/*------------- SERVICIOS -------------*/

.page-template-servicios .texto-rojo {
    font-size: 1.8rem;
    font-family: 'robotothin';
}

.page-template-servicios  aside {
    padding-top: 109px;
}

.page-template-servicios .leyenda {
    font-size: 1.4rem;
    font-family: 'robotothin';
}

.lista-servicios .servicios {
    background: #f1f1f1 url("../images/slider-arraw.png") right 10px bottom 10px no-repeat;
    height: 152px;
    margin-top: 20px;
    width: 592px;
}
.lista-servicios .servicios .entry-thumbnail img {
    width: 131px;
}

.lista-servicios .servicios .entry-thumbnail {
    float: left;
    margin-right: 10px; 
}

.lista-servicios .servicios .news {
    width: 440px;
    float: left;
}
.lista-servicios .servicios .news h2 {
    margin: 0 0 15px 0;
    padding: 0;
}

.lista-servicios .servicios .news p {
    font-size: 1.2rem;
    font-family: 'robotolight';
}

.lista-servicios .servicios .news a {
    color: #c60a20;
    font-size: 1.2rem;
}

.lista-servicios .servicios .news .content-subcat {
    padding-top: 10px;
}

.lista-servicios .servicios .news .content-subcat a {
    font-family: 'robotomedium';
    font-size: 2.2rem;
    color: #475055;
}

.lista-servicios .servicios .news .resumen {
    padding-right: 34px;
}

.lista-servicios .servicios .news .resumen p {
    font-family: 'robotothin';
    font-size: 1.5rem;
    display: inline;
}

.lista-servicios .servicios .news .resumen a {
    display: inline;
}

.lista-servicios .servicios .content-news {
    margin-bottom: 20px;
    padding-left: 20px;
}

.lista-servicios .servicios .content-news .contenido {
    padding-left: 20px;
}

.page-template-servicios .demo-link {
    display: block;
    margin-bottom: 20px;
}


/*------------- SINGLE -------------*/

.full-width .site-content .hentry.has-post-thumbnail:first-child {
    margin-top: 0;
}

.single .site-main .site-content {
    width: 600px;
    float: left;
}

.single .site-main aside {
    float: right;
    width: 300px;
}

.single .site-main article.category-servicios {
    background: #f1f1f1;
}
.category-servicios {
    position: relative;
}

.single .site-main article.category-servicios .entry-header {
    background: #fff;
    margin: 0;
    max-width: inherit;
    padding-left: 140px;
}

.single .site-main article.category-servicios .entry-header h1 {
    margin: 0;
    padding: 0;
}

.single .site-main article.category-servicios .entry-content {
    margin: 0;
    max-width: inherit;
    padding: 0;
}

.single .site-main article.category-servicios .entry-content p {
    background: #f1f1f1;
    padding:20px 20px 20px 140px;
}

.category-servicios .post-thumbnail {
    background: #f1f1f1;
    position: absolute;
    top: 0;
    left: 9px;
    background-color: transparent;
    width: 131px;
    z-index: 100;
}

#menu-servicios li:hober {
}

#menu-servicios li {
    padding: 0;
    border-bottom: 1px solid #e1e5e7;
}

#menu-servicios li a {
    display: block;
    background: #f5f5f5;
    font-size: 1.6rem;
    color: #475055;
    padding: 8px 0px 8px 8px;
}

#menu-servicios li a:hover {
    background: #434140;
    color: #fff;

}

#menu-servicios li a img {
    width: 56px;
    height: auto;
}

.single .especificaciones {
    background: #f1f1f1;
    padding: 30px 40px;
}

.single .metaslider .rslides {
    height: 300px !important;
}
.single .metaslider-flex {
    margin-top: 20px;
    background: #f1f1f1;
    padding: 30px 40px;
}

.single .metaslider .caption-wrap {
    position: inherit;
    background: transparent;
    color: #475055;
    font-size: 1.2rem;
    font-family: 'robotomedium';
}
/*------------- FOOTER -------------*/

#colophon {
    background: #fff;
    border-top: 4px solid #000;
    padding: 26px 0 60px;
    color: #000;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
}

.f-left {
    float: left;
    width: 20%;
    padding-top: 26px;
    text-align: center;
}

.f-center {
    float: left;
    width: 60%;
    text-align: center;
}

.f-right {
    float: right;
    width: 20%;
    padding-top: 30px;
    text-align: center;
}



